@media (min-width: 992px) {
	.navbar-nav {
		margin-top: 9px;
		margin-left: 9.2%;
	}
	.hamburger {
		display: none;
	}

	.container-xxl {
		padding-top: 29px;
		max-width: 1850px;
		width: 100%;
	}

	.slide {
		padding-top: 163px;
		padding-bottom: 228px;
		padding-left: 96px;
		padding-right: 92px;
	}

	.first-screen-title {
		margin-left: 77px;
	}

	.first-screen-subtitle {
		margin-left: 81px;
		margin-top: 11px;
		margin-bottom: 37px;
	}

	.btn-secondary {
		margin-left: 80px;
	}

	.calculation {
		.container {
			padding-left: 90px;
			.title-primary {
				text-align: left;
				max-width: 700px;
				width: 100%;
				padding-top: 97px;
				padding-bottom: 54px;
			}
			.calculation-form {
				padding-top: 53px;
				padding-bottom: 36px;
				padding-left: 50px;
				padding-right: 50px;
				max-width: 626px;
				width: 100%;
				.input-row {
					.input-column {
						max-width: 248px;
						&.file-cont {
							max-width: 526px;
						}
						.input-box {
							display: flex;
							flex-direction: column;
						}
					}
				}
				.check-cont {
					.checkbox-padding {
						margin-top: 15px;
						margin-left: 2px;
						margin-bottom: -6px;
					}
				}
				.file-cont {
					padding-bottom: 6px;
					margin-top: 6px;
				}
			}
		}
	}

	.advantages {
		margin: 0 auto;
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			background: #363a4d;
			border-radius: 20px;
			top: 0;
			margin: 0 auto;
			max-width: 1850px;
			height: 100%;
			left: 43px;
			right: 43px;
			z-index: -1;
		}
		.container {
			padding-top: 97px;
			padding-bottom: 33px;
			margin: 113px auto 0px;

			.advantages-title {
				margin: 0 auto 56px;
			}
			.row {
				padding-left: 60px;
				padding-right: 60px;
				.advantages-box {
					margin-bottom: 38px;
					.box-img {
						margin-bottom: 15px;
					}
					.box-description {
					}
				}
			}
		}
	}

	.delivery {
		.container {
			padding-top: 97px;
			.delivery-title {
				margin: 0 auto 49px;
			}
			.delivery-cards {
				max-width: 1320px;
				padding: 0 67px 0 67px;
				.delivery-cardbox {
					.cardbox-info {
						margin-bottom: 3px;
					}

					.cardbox-price {
						margin-bottom: 18px;
					}

					.cardbox-btn {
						.btn {
							max-width: 153px;
							width: 100%;
						}
					}
				}
			}
		}
	}

	.services {
		margin-top: 99px;
		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			background: #363a4d;
			border-radius: 20px;
			margin: 0 auto;
			top: 0;
			max-width: 1850px;
			height: 100%;
			left: 43px;
			right: 43px;
			z-index: -1;
		}
		.container {
			padding-top: 92px;
			padding-bottom: 81px;

			.services-title {
				text-align: center;
				margin: 0 auto 55px;
			}
			.services-cards {
				padding: 0 67px 0 67px;
				max-width: 1320px;
				.services-cardbox {
					max-width: 360px;
					padding-top: 250px;
					padding-bottom: 33px;
					padding-left: 30px;
					margin-bottom: 20px;
					width: 100%;
					height: auto;
					img {
					}

					.cardbox-title {
					}
					.cardbox-info {
					}
				}
			}
		}
	}
}
