.container-xxl {
	margin: 0 auto;
	position: relative;
}

.slide {
	border-radius: 20px;
	background-size: cover;
	background-repeat: no-repeat;
}

.first-screen-title {
	max-width: 463px;
	width: 100%;
}

.first-screen-subtitle {
	max-width: 319px;
	width: 100%;
}

.first-screen-nav {
	display: flex;
	justify-content: space-between;
	max-width: 1523px;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	.slick-arrow {
		background: none;
		border: none;
		font-size: 0;
	}
}

.slick-dots {
	bottom: 43px;
	transform: translate(-50%, -50%);
	left: 50%;
}
