<section class="advantages">
	<div class="advantages-cont">
		<h2 class="advantages-title">Почему стоит выбрать именно нас?</h2>
		<div class="container">
			<div class="advantages-row">
				<span class="advantages-box"
					><img class="box-img" src="assets/img/box-img-1.svg" />
					<p class="box-description">Таможенное оформление груза</p></span
				>
				<span class="advantages-box"
					><img class="box-img" src="assets/img/box-img-2.svg" />
					<p class="box-description">Страховка груза</p></span
				>
				<span class="advantages-box"
					><img class="box-img" src="assets/img/box-img-3.svg" />
					<p class="box-description">Проверка товара на брак</p>
				</span>
				<span class="advantages-box"
					><img class="box-img" src="assets/img/box-img-4.svg" />
					<p class="box-description">Доставка в любой город Украины</p></span
				>
			</div>
			<div class="advantages-row">
				<span class="advantages-box"
					><img class="box-img" src="assets/img/box-img-5.svg" />
					<p class="box-description">Консолидация на складе</p>
				</span>
				<span class="advantages-box"
					><img class="box-img" src="assets/img/box-img-6.svg" />
					<p class="box-description">Ответственное хранение груза</p>
				</span>
				<span class="advantages-box"
					><img class="box-img" src="assets/img/box-img-7.svg" />
					<p class="box-description">Помощь в оплате товара</p>
				</span>
				<span class="advantages-box"
					><img class="box-img" src="assets/img/box-img-8.svg" />
					<p class="box-description">
						Упаковка, переупаковка, паллетирование груза к международной
						перевозке
					</p></span
				>
			</div>
		</div>
	</div>
</section>
