<section class="calculation">
	<div class="container">
		<div class="calculation-title">
			<h2>Получить рассчет стоимости доставки вашего груза</h2>
		</div>
		<form class="calculation-form">
			<div class="input-row">
				<div class="input-column">
					<div class="input-box">
						<label>Категория товара:</label>
						<input type="text" />
					</div>
					<div class="input-box">
						<label>Вес груза (кг):</label>
						<input type="text" />
					</div>
				</div>

				<div class="input-column">
					<div class="input-box">
						<label>Стоимость груза:</label>
						<input type="text" />
					</div>
					<div class="input-box">
						<label>Объем груза (м3):</label>
						<input type="text" />
					</div>
				</div>
			</div>

			<div class="input-row">
				<div class="input-column">
					<div class="input-box">
						<label>Страховка</label>
						<input type="checkbox" />
					</div>
					<div class="input-box">
						<label>Таможенное оформление</label>
						<input type="checkbox" />
					</div>
				</div>
				<div class="input-column">
					<div class="input-box">
						<label>Код ТН ВЭД:</label>
						<input type="text" />
					</div>
				</div>
			</div>

			<div class="input-row">
				<div class="input-column">
					<div class="input-box">
						<label></label>
						<input type="file" />
					</div>
				</div>
			</div>

			<div class="input-row">
				<div class="input-column">
					<div class="input-box">
						<button></button>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
